* {
  font-family: NotoSans;
}

@font-face {
  font-family: gloucester;
  src: url(./assets/fonts/gloucester-mt-extra-condensed-regular.TTF);
}

@font-face {
  font-family: NotoSans;
  src: url(./assets/fonts/NotoSans-Medium.ttf);
}
.font-gloucester {
  font-family: gloucester!important;
}
.font-notoSans {
  font-family: NotoSans;
}
  .color-gray {
  color:gray
}
.header-content {
  background-color: #fff!important;
  color: #333!important;
}
li.header-left-menu, .MuiButtonBase-root {
  color: #333!important;
}
li.header-left-menu, .MuiButtonBase-root:hover {
  color: #FFA903!important;
}
h3 { 
  font-family: gloucester;
  text-align: center;
}
.header-bg {
  background: url(./assets/home_bg.png) no-repeat;
  background-size: cover;
  background-position: center top;
  height: 600px;
}
.faq-bg {
  background: url(./assets/faq_bg.png) no-repeat;
  background-size: cover;
  background-position: center -5px;
  height: 600px;
}



  /* Media Queries */
  @media screen and (max-width: 995px) {
    .header-bg {    
      height: 400px;
    }
  }

  @media screen and (max-width: 1170px) {
   
  }
  @media screen and (max-width: 800px) {
    .header-bg {
      height: 400px;
    }
  }